<% if (page.alternates && page.alternates.length) { %>
  <!--<article class="article article-single article-type-page" style="padding-top: 5px; padding-bottom: 0;" itemscope itemprop="blogPost">
    <div class="article-inner">-->
      <% for (var ai = 0, aLen = page.alternates.length; ai < aLen; ai++) { %>
        <% var alternate = page.alternates[ai]; %>
        <% if (page.lang !== alternate.lang) { %>
          <!--<div class="article-entry-lng">
            <a href="<%- url_for(alternate.path) %>"><i class="fa fa-language" aria-hidden="true"></i> <%= alternate.lang %></a>
          </div>-->
        <% } %>
      <% } %>
    <!--</div>
  </article>-->
<% } %>
<div style="margin: 20px; margin-left: 30px;">
<%
function translateGroup(cat) {
  var trans = __('groups.' + cat);
  if (trans === ('groups.' + cat)) return cat;
  return trans;
}
%>
<% _.forEach(site.data.groups, function(value, key) { %>
  <a href="#<%- key %>" style="margin-right: 10px; text-decoration: none; color: #444;">
    <i class="icon fa fa-tags"></i> <%- translateGroup(key) %>
  </a>
<% }) %>
</div>

<% _.forEach(site.data.groups, function(value, key) { %>
  <section id="<%- key %>" class="archives-wrap">
    <div class="archive-year-wrap">
        <i class="icon fa fa-tags"></i> <%- translateGroup(key) %>
    </div>
    <div class="archives">
      <% var postCount = 0; var usedPosts = {}; %>
      <% _.forEach(value, function(v) { %>
        <% site.posts.each(function(post, indexP) { %>
          <% if (/*post.alternates && post.alternates.length && */post.lang !== page.lang) { %>
            <% return; %>
          <% } %>
          <% post.tags.each(function (t, indexT) { %>
            <% if (t.name === v && usedPosts[post.title] !== post) { %>
              <% postCount++; usedPosts[post.title] = post; %>
                <% if (postCount % 3 == 1) { %>
                <div class="article-row">
                <% } %>
                  <%- partial('common/summary_listing', { post: post }) %>
                <% if (postCount % 3 == 0) { %>
                </div>
                <% } %>
            <% } %>
          <% }) %>
        <% }) %>
      <% }) %>
                <% if (postCount % 3 != 0) { %>
                </div>
                <% } %>
    </div>
  </section>
<% }) %>
