<% var last, postCount = 0; %>
<% page.posts.each(function(post, i) { %>
    <% var year = post.date.year(); %>
    <% if (last != year) { %>
        <% if (last != null) { %>
            </div></section>
        <% } %>
        <% last = year; postCount = 0;%>
        <section class="archives-wrap">
            <div class="archive-year-wrap">
                <a href="<%- url_for(page.lang + '/archives/' + year) %>" class="archive-year"><i class="icon fa fa-calendar-o"></i><%= year %></a>
            </div>
            <div class="archives">
    <% } %>
    <% if (post.alternates && post.alternates.length && post.lang !== page.lang) { %>
      <% return; %>
    <% } %>
    <% postCount++; %>
    <% if (postCount % 2 == 1) { %>
        <div class="article-row">
    <% } %>
        <%- partial('summary', { post: post }) %>
    <% if (postCount == page.posts.length || postCount % 2 == 0) { %>
        </div>
    <% } %>
<% }) %>
<% if (page.posts.length) { %>
    </div></section>
<% } %>
<% if (page.total > 1) { %>
    <nav id="page-nav">
        <span class="pages"><%= _p('nav.current_page', page.current) %><%= _p('nav.total_page', page.total) %></span>
        <%- paginator({prev_text: '&laquo;', next_text: '&raquo;'}) %>
    </nav>
<% } %>

<% if (page.current === 1 && site.data.currentSeason && site.data.currentSeason.posts && site.data.currentSeason.posts.length > 0) { %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <div class="sub-body-header">
        <h1>
            <em class="page-title-link"><%= site.data.currentSeason.title[page.lang || 'it'] %></em>
        </h1>
    </div>
    <div id="slick-carousel-season" class="article-row">
        <% var postCount = 0; var usedPosts = {}; %>
        <% _.forEach(site.data.currentSeason.posts, function(value) { %>
            <% site.posts.each(function(post, indexP) { %>
                <% if (/*post.alternates && post.alternates.length && */post.lang !== page.lang) { %>
                    <% return; %>
                <% } %>
                <% if (post.path.indexOf(value) < 0) { %>
                    <% return; %>
                <% } %>
                <% if (usedPosts[post.title] !== post) { %>
                <% postCount++; usedPosts[post.title] = post; %>
                    <%- partial('common/summary_listing', { post: post }) %>
                <% } %>
            <% }) %>
        <% }) %>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#slick-carousel-season').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
                infinite: true,
                arrows: false,
                responsive: [
                    {
                        breakpoint: 800,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 520,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });
        });
    </script>

    <div class="article-row">
        <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
        <!-- after-season -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-2174223436739417"
            data-ad-slot="1841398816"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
<% } %>