<article id="<%= post.layout %>-<%= post.slug %>" class="article article-single article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <div class="article-inner">
        <% if (typeof(hideTitle) === 'undefined' && (post.link || post.title)) { %>
            <header class="article-header">
                <%- partial('post/title', { class_name: 'article-title' }) %>
            </header>
        <% } %>
        <% if (!post.noDate) { %>
        <div class="article-subtitle">
            <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
            <%- partial('post/tag') %>
        </div>
        <% } %>
        <% if (post.alternates && post.alternates.length) { %>
          <% for (var ai = 0, aLen = post.alternates.length; ai < aLen; ai++) { %>
            <% var alternate = post.alternates[ai]; %>
            <% if (post.lang !== alternate.lang) { %>
              <div class="article-entry">
                <a href="<%- url_for(alternate.path) %>"><i class="fa fa-language" aria-hidden="true"></i> <%= alternate.lang %></a>
              </div>
            <% } %>
          <% } %>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
            <%- post.content %>
        </div>
        <footer class="article-footer">
            <% if (!post.noShare) { %>
            <%- partial('share/index', { post: post }) %>
            <% } %>
        </footer>
    </div>
</article>
<%- partial('comment/index') %>
